body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #EDEDED;
}
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------------------------------SESION Y REGISTRAR------------------------------------------------------- */
.registrar {
  background-color: rgb(225, 229, 229);
}

.sesion {
  background-color: rgb(225, 229, 229);
  text-align: center;
}

.p-form {
  color: #d41a1a;
  font-size: 12px;
  margin: 4px 0 8px 0;
}

.colorRegis {
  background-color: rgba(208, 40, 40, 0.086);
}
.colorSesion {
  background-color: rgba(58, 132, 201, 0.24);

}

 /* ---------------------------------TARJETAS------------------------------------------------------------------ */ 
.imgStyle {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.fotocarro {
  object-position: top;
}


.columnas {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 30% 30% ;
  justify-content: center;
}

.card-body {
  height: auto;
}

.tarjeta {
  width: 300px;
  margin-top: 20px;
  height: 350px;
}

.detalle-card {
  width: 450px;
}

.grid-card {
height: fit-content;
}

 /* ---------------------------------HEADER------------------------------------------------------------------ */ 

.privateRutes {
  display: flex;
  text-decoration: none;
  color: aliceblue;
  margin-right: 30px;
  font-weight: bold;
}

.finder {
  width: 300px;
}

 /* ---------------------------------PUBLICACIONES Y EDIT PUBLICACIONES------------------------------------------------------------------ */ 

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
} 

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

/* ----------------------------------------------------INICIO------------------------------------------------------------ */


.inicio {
  width: 90%;
}

/* ----------------------------------------------------BLOQUES------------------------------------------------------------ */
.bg {
  background-color: aliceblue;
}

.bloque {
  
  background-color: white;
  width: 700px;
  
}
/* ----------------------------------------------------CARR0------------------------------------------------------------ */

.pago {
  height: 40px;
  width: 80px;
}

.pag-total{
  height: 20px;
}


.children-container { 
  margin: 0;
}

.detail_section {
  background-color: #EDEDED;
}

.bottom_space {
  padding-bottom: 6rem;
}

.under {
  color: blue;
  text-decoration: underline;
}