body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.registrar {
  background-color: rgb(225, 229, 229);
}

.sesion {
  background-color: rgb(225, 229, 229);
  text-align: center;
}

.imgStyle {
  height: 250px;
  object-fit: cover;
}

.columnas {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 30% 30% ;
  justify-content: center;
}

.privateRutes {
  display: flex;
  text-decoration: none;
  color: aliceblue;
  margin-right: 30px;
  font-weight: bold;
}

.tarjeta {
  width: 300px;
  margin-top: 20px;
  height: 450px;
}

.card-body {
  height: auto;
}

.finder {
  width: 300px;
}

.formColor {
  background-color: rgba(208, 40, 40, 0.086);
}

/* .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
} */

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.inicio {
  width: 90%;
}

.detalle-card {
  width: 450px;
}

.bg {
  background-color: aliceblue;
}

.grid-card {
height: fit-content;
}

.bloque {
  background-color: white;
  width: 700px;
}

.pago {
  height: 40px;
  width: 80px;
}

.pag-total{
  height: 20px;
}
.children-container {
  margin-top: 10% ;
  margin-bottom: 10%;
}